template(name='credit')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header 
                i.wallet.icon
                |credit
            .ui.header my credit #{currentUser.credit}
            .ui.header
                i.lightbulb.icon
                |ideas
            with currentUser
                +textarea_edit key='credit_notes' direct=true
        .twelve.wide.column
            .ui.header my credit $#{currentUser.credit}
            .ui.button.add_credit add credit
            .ui.button.remove_credit remove credit
            //- +add_karma
