body {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 110% !important;
    /*line-height: 200% !important;*/
    /* filter: invert(100%) !important; */
    /* background: #3d3d3d !important; */
    /* background: rgba(0, 0, 0, .8) !important */
}

.rotate {
  animation: rotation 2s infinite linear !important;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.invert {
    filter: invert(100%) !important;
    background-color:white;
    /* height: 100%; */
}

.pointer:hover{
    cursor: pointer !important;
    /* -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222); */
}



.checkin_banner {
    position: fixed !important;
    top:0px;
    opacity: 0.3;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index:-1000;
    background-attachment: fixed;

}


input{
    -webkit-border-radius: 7px !important; */
    border-radius: 7px !important;
    margin-bottom: 3px !important;
    margin-top: 3px !important;
    /* -moz-border-radius: 50px !important; */
    /* border-radius: 50px !important;
    /* -webkit-border-radius: 5px !important; */
    /* -moz-border-radius: 5px !important; */
    background: rgba(250, 250, 250, 0.9) !important;
    opacity: 1;
}


.shadowed{
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2) !important;
}
.button, .segment, .label{
    /* -webkit-border-radius: 5px !important; */
    /* -moz-border-radius: 5px !important; */
    border-radius: 10px !important;
}


.button {
    /* background-color: rgba(200, 200, 200, 0.5) !important; */
    /* box-shadow: 0 1px 1px 1px rgba(50, 50, 100, 0.1) !important; */
    background-color: #F4F6F7 !important;
    padding:12px !important;
    /* transform: translate(0, 4px); */
}

.button.active {
    /* background-color: rgba(200, 200, 200, 0.5) !important; */
    /* box-shadow: 0 2px 2px 2px rgba(50, 50, 100, 0.2) !important; */
    background-color: navy !important;
    /* background-color: #5a4400 !important; */
    color: white !important;
    /* transform: translate(0, 4px); */
}
.button.active:hover {
    /* background-color: rgba(200, 200, 200, 0.5) !important; */
    /* box-shadow: 0 2px 2px 2px rgba(50, 50, 100, 0.2) !important; */
    background-color: lightblue !important;
    /* opacity: 50% !important; */
    /* background-color: #5a4400 !important; */
    color: white !important;
    /* transform: translate(0, 4px); */
}
.button.green {
    /* background-color: rgba(200, 200, 200, 0.5) !important; */
    box-shadow: 0 1px 1px 1px rgba(50, 50, 100, 0.1) !important;
    background-color: darkgreen !important;
    color: white !important;
    /* transform: translate(0, 4px); */
}

.button.red {
    /* background-color: rgba(200, 200, 200, 0.5) !important; */
    box-shadow: 0 1px 1px 1px rgba(50, 50, 100, 0.1) !important;
    background-color: darkred !important;
    color: white !important;
    /* transform: translate(0, 4px); */
}

.button:hover {
    /* background-color: rgba(200, 200, 200, 0.5) !important; */
    box-shadow: 0 2px 2px 2px rgba(50, 50, 100, 0.1) !important;
    background-color: rgba(50, 50, 100, 0.1) !important;
    /* color: white !important; */
    /* transform: translate(0, 4px); */
}


/* .button:active {
    -webkit-box-shadow:
        0px 3px rgba(128,128,128,1),
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
/* } */

.button:active{
    -webkit-transform: translate(0, 5px) !important; /* depth of button press */
}




.button, .selector, .card{
  animation: fadein .75s;
}
.icon.loading.item{
  animation: fadein 1s;
}
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}


.inline {
  display:inline !important;
  margin: .5em !important;2
}
a {
  font-family: 'Ubuntu', sans-serif !important;
}
/* .card a.header {
  color: #482d1b !important;
} */
/* .ui.button .ui.label {
  font-family: 'Ubuntu', sans-serif !important;
} */

.label {
  animation: fadein .25s;
}
.segment{
  animation: fadein .25s;
}

.icon.item {
  animation: fadein .25s;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

#main {
  animation: fadein .5s;
}
#result {
  animation: fadein .5s;
}

@media screen and (max-width: 1100px) {
  .overlay-text {
    top: 550px;
  }
  .overlay-text-subheader {
    top: 290px;
  }
}


.ui.button, .ui.input .ui.large.label {
	 margin: 0.2em !important;
}



@media screen and (max-width: 1100px) {
  .header-logo {
    margin: auto !important;
    display: block;
  }
  .red-nav-bar {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .overlay-text {
    top: 250px;
  }
  .overlay-text-subheader {
    top: 270px;
  }
}
@media screen and (min-width: 1100px) {
  .header-logo {
    padding: 0;
    margin: -36 !important;
    position: absolute;
    top: 0;
    left: 112px;
    z-index: 1030;
  }
  .red-nav-bar {
    margin-top: 90px;
    margin-bottom: 5px;
  }
  .overlay-text {
    top: 200px;
  }
  .overlay-text-subheader {
    top: 220px;
  }
  .event-header {
    bottom: 0;
  }
}
.map-container {
  max-width: 100%;
  height: 300px;
}
.large-text {
  font-size: large;
  line-height: 140%;
}
.center-aligned {
  text-align: center;
}
.overlay-text {
  color: #f8f8ff;
  background: #89131f;
  padding: 10px;
  font-size: 2.5em !important;
  font-weight: 300 !important;
}
.header-wrapper {
    /* z-index: 0 !important; */
  /* position: absolute;
  top:0px;
  width: 100%;
  min-width: 100%;
  min-height:100%; */
  /* background-color:white; */
}
.middle-align {
  vertical-align: middle !important;
}
.banner-text {
  left: 0px;
  font-size: 225%;
}
/* Mobile */
@media only screen and (max-width: 767px) {
  .mobile.hidden,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .computer.hidden,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.hidden,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.hidden {
    display: none !important;
  }
}
#main {
    /* margin-top:20px; */
    /* min-height: 120vh; */
    height: 100%;
    /* min-height: 500px; */
    /* bottom: 0; */
}
.scrolling{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:95vh;
	/*max-height:85vh;*/
	/* padding-top: 1em; */
	/*padding-left: 1em;*/
}
.smallscroll{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:300px;
	/*max-height:85vh;*/
	/* padding-top: 1em; */
	/*padding-left: 1em;*/
}

.scrolling::-webkit-scrollbar {
    display: none;
}

.smallscroll::-webkit-scrollbar {
    display: none;
}

.topnav{
	overflow-y:hidden;
	overflow-x:scroll;
    opacity:0.7;
	/*max-height:1000px;*/
	/*max-height:85vh;*/
	/*padding: 1em;*/
    /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.9)), to(rgba(0,0,0,1))); */
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); */

}
.topnav::-webkit-scrollbar {
    display: none;
}

.ui.progress {
    margin:0px !important;
}

.f11 {
  font-size: 400% !important;
  line-height: 120% !important;
  margin-bottom: 10px !important; }
.f10 {
  font-size: 200%;
  line-height: 120%;
  margin-bottom: 10px; }
.f9 {
  font-size: 180%;
  line-height: 120%;
  margin-bottom: 5px; }
.f8 {
  font-size: 160%;
  line-height: 160%; }
.f7 {
  font-size: 140%;
  line-height: 140%; }
.f6 {
  font-size: 120%;
  line-height: 120%; }
.f5 {
  font-size: 110%;
  line-height: 110%; }
.f4 {
  font-size: 100%;
  line-height: 100%; }
.f3 {
  font-size: 90%;
  line-height: 90%; }
.f2 {
  font-size: 70%;
  line-height: 70%; }
.f1 {
  font-size: 50%;
  line-height: 50%; }
.f0 { display:none; }
