

template(name='add_karma')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header add karma
        .twelve.wide.column
            +add_karma_amount amount=1000 price=10
            +add_karma_amount amount=2250 price=20
            +add_karma_amount amount=5500 price=50
            +add_karma_amount amount=1100 price=100
            
            
template(name='add_karma_amount')            
    .ui.segment.pointer.add_karma_amount
        .ui.header #{amount } karma for $#{price}
